@model FhirDashboard.Models.PatientRecord
@{
    ViewData["Title"] = "Patient Details";
}

@if (!String.IsNullOrEmpty((string)ViewData["ErrorMessage"]))
{
    <b>ERROR:</b> @ViewData["ErrorMessage"]
}


<h2>@Html.DisplayFor(model => model.Patient.Name[0].Family), @Html.DisplayFor(model => model.Patient.Name[0].Given) </h2>

<div style="margin-bottom: 10px;">
    <div>
        <b>DOB:</b> @Model.Patient.BirthDate
    </div>
    <div>
        <b>Gender:</b> @Model.Patient.Gender
    </div>
</div>

@if (Model.SmartApps.Count > 0)
{
<div class="card" style="margin-bottom: 10px;">
    <div class="card-header">SMART on FHIR Apps</div>
    <div class="card-body">
    @foreach (var app in Model.SmartApps) {
        @if (!string.IsNullOrEmpty(app.LaunchUrl)) {
            var appUrl = app.LaunchUrl + "?launch=" + ViewData["launchContext"] + "&iss=" + ViewData["FhirServerUrl"];
            <a target="_blank" href="@appUrl">[@app.DisplayName]</a>
        }
    }
    </div>
</div>
}

<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseConditions">
        Conditions [@Model.Conditions.Count]
      </a>
    </div>
    <div id="collapseConditions" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                        <th>
                            Onset
                        </th>
                        <th>
                            Desciption
                        </th>
                        <th>
                            Status
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var condition in Model.Conditions) {
                    <tr>
                        <td>
                            @Html.DisplayTextFor(modelItem => condition.Onset)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => condition.Code.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => condition.ClinicalStatus)
                        </td>
                        <td>
                            <a href="/Resource/Condition/@condition.Id">FHIR</a> 
                        </td>
                    </tr>
            }
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseEncounters">
        Encounters [@Model.Encounters.Count]
      </a>
    </div>
    <div id="collapseEncounters" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Id
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var encounter in Model.Encounters) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => encounter.Period.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => encounter.Type[0].Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => encounter.Id)
                        </td>
                        <td>
                            <a href="/Resource/Encounter/@encounter.Id">FHIR</a> 
                        </td>
                    </tr>
            }
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseObservations">
        Observations [@Model.Observations.Count]
      </a>
    </div>
    <div id="collapseObservations" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Id
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var observation in Model.Observations) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => observation.Issued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => observation.Code.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => observation.Id)
                    </td>
                    <td>
                        <a href="/Resource/Observation/@observation.Id">FHIR</a> 
                    </td>
                </tr>
        }
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


