@model IEnumerable<Hl7.Fhir.Model.Patient>
@{
    ViewData["Title"] = "Patient";
}

<h2>@ViewData["Title"]</h2>

@if (!String.IsNullOrEmpty((string)ViewData["ErrorMessage"]))
{
    <b>ERROR:</b> @ViewData["ErrorMessage"]
}

@if (!String.IsNullOrEmpty((string)ViewData["NextLink"]))
{
<p><a href="@ViewData["NextLink"]">NEXT</a></p>

}
<table class="table">
    <thead>
        <tr>
                <th>
                    Family Name
                </th>
                <th>
                    Given Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name[0].Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name[0].Given)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a href="/Patient/@item.Id">[Details]</a> 
                <a href="/Resource/Patient/@item.Id">[FHIR]</a> 
            </td>
        </tr>
}
    </tbody>
</table>